.nav-item {
    list-style-type: none;

    &--not-hoverable {
        .nav-link:hover {
            font-weight: normal;
        }
    }

    &--link-no-padding .nav-link {
        padding: 0;
    }

}

.nav-link {
    transition: all 150ms;
    @extend .text-white;

    &:hover {
        font-weight: bold;
    }

    &.active {
        font-weight: bold;
    }
}
